@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MaPolice';
  src: url('./assets/fonts/MaPolice.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  h1 {
  font-family: 'MaPolice', sans-serif;
}

}

